.header-text {
  font-size: 46px;
  font-weight: bolder;
  margin-bottom: 10px;
  color: #314584;
  letter-spacing: 2px;
}
.margin-top-240 {
  margin-top: 240px;
}
.image-width-100 {
  width: 100%;
}
.padding-top-300 {
  padding-top: 300px;
}
.padding-top-100 {
  padding-top: 100px;
}
.relative-div {
  position: relative;
}

.more-about-btn {
  justify-content: center;
  padding-top: 13px;
}
.subtitle-text {
  font-size: 18px;
  font-weight: normal;
  color: #b1b4b6;
  line-height: 30px;
}
.first-subtitle {
  font-size: 48px;
  font-weight: bold;
  color: #314584;
  line-height: 60px;
  margin-top: 20px;
}
.second-subtitle {
  font-size: 18px;
  font-weight: normal;
  color: #314584;
  line-height: 30px;
  margin-top: 20px;
}
.header-2-text {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #314584;
  letter-spacing: 1px;
  line-height: 1.5;
}
.button-row-col-text {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  color: #314584;
  cursor: pointer;
}
.absolute-bottom-center {
  position: relative;
  color: #ff4359;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  display: flex;
  flex: 1;
  font-family: "Work Sans", sans-serif;
}
.button-row-col-text {
  font-size: 16px;
  font-weight: bold;
  color: #314584;
  cursor: pointer;
}

.illustration-1 {
  object-fit: cover;
  position: absolute;
  right: -160px;
}
.illustration-2 {
  object-fit: cover;
  position: absolute;
  left: -175px;
  width: 100%;
}
.illustration-2-container {
  position: relative;
}

.header-3-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ff4359;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
}

@media (max-width: 769px) {
  .header-text {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .header-2-text {
    font-size: 15px;
  }

  .header-3-text {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

@media (min-width: 376px) and (max-width: 1199px) {
  .illustration-1 {
    object-fit: cover;
    position: static;
  }
  .illustration-2 {
    object-fit: cover;
    position: static;
  }
  .padding-top-100 {
    padding-top: 50px;
  }
  .margin-top-240 {
    margin-top: 120px;
  }
  .card-padding {
    padding-top: 20px;
  }
}

@media (max-width: 375px) {
  .header-text {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .header-2-text {
    font-size: 15px;
  }

  .header-3-text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .illustration-1 {
    object-fit: cover;
    position: static;
  }
  .illustration-2 {
    object-fit: cover;
    position: static;
  }
  .padding-top-100 {
    padding-top: 50px;
  }
  .card-padding {
    padding-top: 50px;
  }
}
