.header-row {
  background-color: #fff;
  padding-top: 50px;
  color: #314584;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  margin-top: 63px;
  font-weight: bold;
}

.logo-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-items {
  display: flex;
  gap: 50px;
}

.menu-items span {
  cursor: pointer;
}

.buttons-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-button {
  margin-left: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  color: red;
}

.en-section {
  display: flex;
  align-items: center;
}

@media (max-width: 769px) {
  .header-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-items {
    display: none;
  }

  .menu-items-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 770px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}
