.footer {
  background-color: #314584;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer h1 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer h1.big-title {
  color: #ff4359;
  font-size: 48px;
  font-weight: bold;
}

.menu-items {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.menu-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.menu-items img {
  margin-top: 20px;
  cursor: pointer;
}

@media (max-width: 769px) {
  .footer h1 {
    font-size: 16px;
    align-items: center;
  }
  .footer h1.big-title {
    font-size: 32px;
    align-items: center;
  }
  .menu-items img {
    margin-top: 10px;
  }

  .menu-text {
    font-size: 14px;
  }
  .footer {
    height: 300px;
    position: relative;
  }
}
