h1 {
  font-size: 18px;
  color: #ff3946;
  font-weight: semibold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.first-subtitle {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #314584;
  letter-spacing: 1;
}

.second-subtitle {
  margin-top: 70px;
  font-size: 12px;
  color: #314584;
  font-weight: normal;
}

.images-container {
  margin-top: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.images-container img {
  width: 5px;
  height: 5px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  .first-subtitle {
    margin-top: 30px;
    font-size: 24px;
  }

  .second-subtitle {
    margin-top: 50px;
    font-size: 10px;
  }

  .images-container {
    margin-top: 45px;
  }

  .images-container img {
    width: 3px;
    height: 3px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}
