.box-container {
  background-color: transparent;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1),
    0 8px 10px 1px rgba(0, 0, 0, 0.07), 0 3px 14px 2px rgba(0, 0, 0, 0.06);
  padding: 40px 45px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 50px;
}

.box-header {
  margin-bottom: 30px;
  color: #314584;
  font-size: 27px;
}

.box-content {
  color: #314584;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
}
